// SCSS - section2.scss
// * handle it as a section <section class="section-name"></section>
@use '../atomic/root/root' as root;
@use '../atomic/root/root_functions' as func;
@use '../atomic/root/root_mixins' as mixin;
.section2 {
    // !never delete this position
    height: 150rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        root.$second_background_color_linear,
        root.$second_background_color
    );
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 10vh));
    margin-bottom: 10vh;
}
