// SCSS - section2.scss
// * handle it as a section <section class="section-name"></section>
@use "../atomic/root/root" as root;
@use "../atomic/root/root_functions" as func;
@use "../atomic/root/root_mixins" as mixin;

.section2 {
  // !never delete this position
  height: 200rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: root.$second_background_color;
}
