// SCSS - section2-wrapper.scss
// !wrapper <div class="wrapper-name"></div>
@use '../atomic/root/root' as root;
@use '../atomic/root/root_functions' as func;
@use '../atomic/root/root_mixins' as mixin;
.section2-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0 5rem;
    .sec2-texts {
        display: flex;
        flex-direction: column;
        gap: func.toRem(40px);
        margin-bottom: func.toRem(64px);
        text-align: center;
        h2 {
            font-size: func.toRem(64px);
            font-weight: 550;
            line-height: 4rem;
            color: root.$secondary_title_color;
            margin-top: 1.5rem;
        }
        p {
            font-size: func.toRem(25px);
            color: root.$primary_description_color;
            &:nth-of-type(2) {
                font-weight: 600;
            }
        }
    }
    .sec2-cards {
        display: flex;
        flex-direction: column;

        gap: func.toRem(32px);
        .sec2-crd {
            width: func.toRem(440px);
            height: func.toRem(320px);
            padding: func.toRem(24px);
            background-color: white;
            border-radius: 10%;
            display: flex;
            flex-direction: row-reverse;
            border: 1px solid #e6e3ea;
            box-shadow: 0 3px #e6e3ea;
            &:nth-of-type(1) {
                svg {
                    fill: root.$primary_title_color;
                }
                span {
                    color: root.$primary_title_color;
                }
            }
            &:nth-of-type(2) {
                svg {
                    fill: root.$primary_buttons_bg_color;
                }
                span {
                    color: root.$primary_buttons_bg_color;
                }
            }
            &:nth-of-type(3) {
                svg {
                    fill: root.$secondary_description_color;
                }
                span {
                    color: root.$secondary_description_color;
                }
            }

            @include mixin.large {
                height: func.toRem(280px);
                display: flex;
                flex-direction: column;
                gap: func.toRem(50px);
            }

            .sec2-cards-icon {
                display: inline;
                @include mixin.large {
                    margin-left: auto;
                }
            }
            .sec2-card-text {
                text-align: start;
                margin-right: auto;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                h1 {
                    line-height: 3.5rem;
                    font-size: func.toRem(64px);
                    font-weight: 600;
                    color: root.$secondary_title_color;
                }
                p {
                    color: root.$primary_description_color;
                    margin-top: func.toRem(60px);
                }
            }
        }
    }
}
