// SCSS - utility-media.scss
@use '../atomic/root/root' as root;
@use '../atomic/root/root_functions' as func;
@use '../atomic/root/root_mixins' as mixin;

.settings {
    @include mixin.large {
        justify-content: center;
        align-items: center;
    }
    &-window {
        @include mixin.large {
            position: static;
            width: 30rem;
            border-bottom-left-radius: 4rem;
            border-bottom-right-radius: 4rem;
        }
    }
    &-head {
        border-top-left-radius: 4rem;
        border-top-right-radius: 4rem;
        background-color: root.$fourth_background_color;
    }
}

@media only screen and (min-width: 1100px) {
    .walletModalBackground {
        .walletModal {
            position: relative;
            bottom: initial;
            width: 60%;
            height: 50rem;
            &-b1 {
                &-a {
                    width: 50%;
                    gap: 5rem;
                }

                &-b {
                    display: flex;
                }
            }
        }
    }
}
