.walletModelBackground--flex {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 99;

    .walletModal {

        max-width: 79rem;

        width: 20rem;
        height: 20rem;
        flex-grow: 1;
        background-color: white;
        z-index: 1000;
        border-radius: 24px;
    }
}

