// SCSS - intro_slide-wrapper.scss
// !wrapper <div class="wrapper-name"></div>
@use '../atomic/root/root' as root;
@use '../atomic/root/root_functions' as func;
@use '../atomic/root/root_mixins' as mixin;

.intro_slide-wrapper {
    position: relative;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: root.$intro_slide-wrapperPadding;
    max-width: root.$intro_slide-wrapperMaxWidth;
    height: root.$intro_slide-wrapperHeight;
    gap: 5rem;
    &-container1 {
        // display: none;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
        width: 100%;
        height: 100%;
        border-radius: root.$intro_slide-wrapper-containerBorderRadius;
        background-color: root.$intro_slide-wrapper-containerBackgroundColor;
        &-text {
            padding: 2rem;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            z-index: 1;
            height: 100%;
        }

        &__title {
            color: root.$quaternary_link_color;
            font-size: 2.5rem;
            text-shadow: 3px 2px purple;
        }

        &__description {
            margin-top: auto;
            color: root.$primary_white_color;
            font-size: 3rem;
            font-weight: 700;
            max-width: 60%;
            text-shadow: 3px 2px grey;
        }

        &__button {
            margin-top: auto;
            max-width: fit-content;
        }

        &__img {
            position: absolute;
            bottom: 0;
            right: 0;
            max-width: 40rem;
            height: 121%;
            z-index: 0;
        }
    }

    &-container2 {
        position: relative;
        @include mixin.flexIt();
        // display: none;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
        width: 100%;
        height: 100%;
        border-radius: root.$intro_slide-wrapper-containerBorderRadius;
        background-color: root.$intro_slide-wrapper-containerBackgroundColor;
        &-text {
            padding: 2rem;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            z-index: 1;
            height: 100%;
        }

        &__title {
            color: root.$quaternary_link_color;
            font-size: 2.5rem;
            text-shadow: 3px 2px purple;
        }

        &__timing {
            margin-top: auto;
            color: root.$primary_white_color;
            font-size: 3rem;
            font-weight: 700;
            max-width: 60%;
            text-shadow: 3px 2px grey;
        }

        &__button {
            margin-top: auto;
            max-width: fit-content;
        }

        &__img {
            position: absolute;
            bottom: 0;
            right: 0;
            max-width: 90rem;
            height: 121%;
            z-index: 0;
        }
    }

    &-container3 {
        position: relative;
        display: flex;
        // display: none;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
        width: 100%;
        height: 100%;
        border-radius: root.$intro_slide-wrapper-containerBorderRadius;
        background-color: root.$intro_slide-wrapper-containerBackgroundColor;

        &-text {
            padding: 2rem;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            z-index: 1;
            height: 100%;
        }

        &__title {
            color: root.$quaternary_link_color;
            font-size: 2.5rem;
            text-shadow: 3px 2px purple;
        }

        &__description {
            margin-top: auto;
            color: root.$primary_white_color;
            font-size: 3rem;
            font-weight: 700;
            max-width: 60%;
            text-shadow: 3px 2px grey;
        }

        &__button {
            max-width: fit-content;
            margin-top: auto;
        }

        &__img {
            position: absolute;
            bottom: 0;
            right: 5rem;
            max-width: 30rem;
            height: 121%;
            z-index: 0;
        }
    }
}
