// SCSS - intro_slide-wrapper.scss
// !wrapper <div class="wrapper-name"></div>
@use '../atomic/root/root' as root;
@use '../atomic/root/root_functions' as func;
@use '../atomic/root/root_mixins' as mixin;

.intro_slide-wrapper {
    flex-grow: 1;
    @include mixin.flexItCenter();
    padding: root.$intro_slide-wrapperPadding;
    max-width: root.$intro_slide-wrapperMaxWidth;
    min-height: root.$intro_slide-wrapperMinHeight;
    &-container1 {
        @include mixin.flexIt();
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
        width: 100%;
        height: root.$intro_slide-wrapperMinHeight;
        border-radius: root.$intro_slide-wrapper-containerBorderRadius;
        background-color: root.$intro_slide-wrapper-containerBackgroundColor;

        &-text {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            line-height: 0.8;
        }

        &__title {
            color: root.$quaternary_link_color;
            font-size: 4rem;
        }

        &__description {
            margin-top: auto;
            color: root.$primary_white_color;
            font-size: 4rem;
            font-weight: 700;
            max-width: 60%;
        }

        &__button {
            margin-top: auto;
            .buttonIt {
                padding: 20px 40px;
            }
        }

        &-img {
            flex-basis: 200px;
            height: 120%;
            flex-grow: 1;
            img {
            }
        }
    }

    &-container2 {
        @include mixin.flexIt();
        display: none;

        &-text {
        }

        &__title {
        }

        &__timing {
        }

        &__button {
        }

        &-img {
            img {
            }
        }
    }

    &-container3 {
        @include mixin.flexIt();
        display: none;

        &-text {
        }

        &__title {
        }

        &__description {
        }

        &__button {
        }

        &-img {
            img {
            }
        }
    }
}
