// SCSS - section1-wrapper-media.scss
@use '../atomic/root/root' as root;
@use '../atomic/root/root_functions' as func;
@use '../atomic/root/root_mixins' as mixin;

.section1-wrapper {
    @include mixin.large {
        margin: 4.37rem;
    }
    @include mixin.larger {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-around;
        margin: 10.6rem;
    }
    .sec1-right {
        img {
            @include mixin.large {
                width: 25rem;
            }
            @include mixin.larger {
                width: 54.37rem;
            }
        }
    }
    .sec1-left {
        @include mixin.large {
            width: 60rem;
        }
        h2 {
            @include mixin.larger {
                font-size: 6.5rem;
            }
        }
    }
}
