// SCSS - section1.scss
// * handle it as a section <section class="section-name"></section>
@use "../atomic/root/root" as root;
@use "../atomic/root/root_functions" as func;
@use "../atomic/root/root_mixins" as mixin;
.section1 {
  // !never delete this position
  height: 100rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ecf6ff;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}
