// SCSS - nav-media.scss
@use '../../atomic/root/root' as root;
@use '../../atomic/root/root_functions' as func;
@use '../../atomic/root/root_mixins' as mixin;

nav {
    .navLeft {
        .navLogoFull {
            @include mixin.larger {
                display: inline;
            }
        }
        .psHead {
            @include mixin.larger {
                display: none;
            }
        }
        .navMenu {
            @include mixin.large {
                display: flex;
            }
        }
    }
    .navRight {
        .navPrice {
            @include mixin.large {
                display: flex;
            }
        }
        .networkSelect {
            p {
                @include mixin.medium {
                    display: flex;
                }
                span {
                    @include mixin.medium {
                        display: none;
                    }
                    @include mixin.larger {
                        display: flex;
                    }
                }
            }
        }
        .networkSelectPop {
            @include mixin.large {
                transform: translate(100px, 37px);
            }
        }
        .globePop {
            @include mixin.large {
                transform: translate(0px, 55.5px);
            }
            @include mixin.larger {
                transform: translate(0px, 55.5px);
            }
        }
        .navBtn {
            span {
                &:nth-of-type(2) {
                    display: none;
                    @include mixin.large {
                        display: inline;
                    }
                }
            }
        }
    }
}
.subMenu {
    @include mixin.large {
        display: none;
    }
}
