// SCSS - nav.scss
// TODO: nav element is here, it will be inside the header and will act like "header-wrapper.scss" class
// * handle it as a section <nav></nav>
@use '../../atomic/root/root' as root;
@use '../../atomic/root/root_functions' as func;
@use '../../atomic/root/root_mixins' as mixin;

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav {
    width: 100%;
    border-bottom: 1px solid #e6e3ea;
    overflow: hidden;
    top: 0;
    z-index: 98;
    position: fixed;
    width: 100%;
    background-color: white;
    @include flexCenter;
    justify-content: space-between;
    .navLeft {
        @include flexCenter;
        margin: 0 1rem;

        .navLogoFull {
            width: 19rem;
            height: 5rem;
            display: none;

            &:hover {
                cursor: pointer;
            }
            img {
                object-fit: cover;
            }
        }
        div {
            @include flexCenter();
        }
        .psHead {
            padding: 1.2rem;
        }

        .navMenu {
            @include flexCenter();
            margin-left: 1rem;
            font-size: 1.5rem;
            display: none;
            div {
                padding: 1.6rem;
                color: root.$primary_link_color;
                border-radius: 1.6rem;
                &:hover {
                    background-color: root.$primary_link_bg_hover_color;
                    cursor: pointer;
                }
            }
        }
    }
    .navRight {
        @extend .navLeft;
        gap: 1.6rem;
        .navPrice {
            gap: 0.5rem;
            font-size: 1.5rem;
            display: none;
            &:hover {
                cursor: pointer;
                object {
                    width: 3.5rem;
                }
            }
            span {
                color: root.$primary_link_color;
                font-weight: 500;
            }
        }
        .navGlobe {
            svg {
                fill: root.$primary_link_color;
                &:hover {
                    opacity: 0.5;
                    cursor: pointer !important;
                }
            }
        }
        .navGear {
            @extend .navGlobe;
        }
        .networkSelect {
            display: flex;
            margin-right: 1rem;
            background-color: root.$fourth_background_color;
            box-shadow: 0 2px lightgray;
            border-radius: 1.6rem;
            padding: 0 1.5rem 0 0;
            gap: 1rem;
            margin: -1rem;

            p {
                font-weight: 500;
                color: root.$secondary_title_color;
                display: none;
            }

            .bnbImage {
                width: 3rem;
            }
            &:hover {
                cursor: pointer;
                opacity: 0.7;
            }
        }
        .navBtn {
            margin-right: 1rem;
            background-color: root.$primary_buttons_bg_color;
            box-shadow: 0 1px root.$primary_black_color;
            border-radius: 1.6rem;
            padding: 0.7rem 1.5rem;
            &:hover {
                background-color: root.$primary_buttons_bg_hover_color;
                cursor: pointer;
            }
            button {
                color: white;
                font-size: 1.5rem;
                font-weight: 600;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}
