// SCSS - navbar-wrapper.scss
// TODO: navbar-wrapper here, it will be inside the nav!
// !wrapper <div class="wrapper-name"></div>
@use "/styles/atomic/root/root" as *;
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-wrapper {
  width: 100vw;
  height: 55px;
  border-bottom: 1px solid #e6e3ea;
  @include flexCenter;
  justify-content: space-between;
  .navLeft {
    @include flexCenter;
    margin: 0 1rem;
    div {
      @include flexCenter();
      .psHead {
        display: none;
      }
    }

    .navMenu {
      @include flexCenter();
      margin-left: 1rem;
      div {
        padding: 1.6rem;
        color: $primary_link_color;
        border-radius: 1.6rem;
        &:hover {
          background-color: $primary_link_bg_hover_color;
          cursor: pointer;
        }
      }
    }
  }
  .navRight {
    @extend .navLeft;
    gap: 1.6rem;
    .navPrice {
      gap: 0.5rem;
    }
    .navBtn {
      margin-right: 1rem;
      background-color: $primary_buttons_bg_color;
      width: 14.9rem;
      height: 3.2rem;
      border-radius: 1.6rem;
      &:hover {
        background-color: $primary_buttons_bg_hover_color;
        cursor: pointer;
      }
      button {
        color: white;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
