// SCSS - section6.scss
// * handle it as a section <section class="section-name"></section>
@use '../atomic/root/_root.scss' as root;
.section6 {
  // !never delete this position
  height: 200rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
