// SCSS - section4.scss
// * handle it as a section <section class="section-name"></section>
@use '../atomic/root/root' as root;
@use '../atomic/root/root_functions' as func;
@use '../atomic/root/root_mixins' as mixin;
.section4 {
    // !never delete this position
    width: 100%;
    height: 70rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: root.$fourth_background_color;
}
