// SCSS - section3-wrapper.scss
// !wrapper <div class="wrapper-name"></div>
@use '../atomic/root/root' as root;
@use '../atomic/root/root_functions' as func;
@use '../atomic/root/root_mixins' as mixin;

.section3-wrapper {
    padding: func.toRem(32px) func.toRem(20px);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .sec3-right {
        .sec3-img {
            display: flex;
            flex-direction: column;
            img {
                width: func.toRem(320px);
                &:nth-of-type(1) {
                    margin-bottom: -20rem;
                    z-index: 2;
                    animation: floating 5s infinite;
                    position: relative;
                }
                &:nth-of-type(2) {
                    margin-bottom: -20rem;
                    z-index: 1;
                    animation: floating 5s infinite;
                    position: relative;
                }
                &:nth-of-type(3) {
                    z-index: 0;
                    animation: floating 5s infinite;
                    position: relative;
                }
            }
        }
    }
    .sec3-left {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        text-align: start;

        p {
            padding-right: 1rem;
            font-size: func.toRem(26px);
            font-weight: func.toRem(400px);
            line-height: 2.5rem;
            color: root.$primary_description_color;
        }
        h2 {
            color: root.$secondary_title_color;
            font-size: func.toRem(50px);
            line-height: 3.8rem;
            font-weight: 500;

            span {
                color: root.$primary_title_color;
            }
        }
        .sec3-btns {
            display: flex;
            gap: 0.2rem;
            button {
                font-size: 1.6rem;
                font-weight: 600;
                &:nth-of-type(1) {
                    background-color: root.$primary_buttons_bg_color;
                    color: white;
                    padding: func.toRem(20px) func.toRem(35px);
                    border-radius: func.toRem(20px);
                    box-shadow: 0 1px root.$primary_black_color;
                    &:hover {
                        background-color: root.$primary_buttons_bg_hover_color;
                        transition: 0.3s;
                    }
                }
                &:nth-of-type(2) {
                    background-color: transparent;
                    color: root.$primary_buttons_bg_color;
                    padding: func.toRem(20px) func.toRem(35px);
                    border-radius: func.toRem(20px);
                    &:hover {
                        color: root.$primary_buttons_bg_hover_color;
                        transition: 0.3s;
                    }
                }
            }
        }
    }
}
@keyframes floating {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.03);
    }
    100% {
        transform: scale(1);
    }
    from {
        bottom: 0;
    }
    to {
        bottom: 10px;
    }
}
