// SCSS - section3-wrapper-media.scss
@use '../atomic/root/root' as root;
@use '../atomic/root/root_functions' as func;
@use '../atomic/root/root_mixins' as mixin;

.section3-wrapper {
    @include mixin.large {
        margin: 4.37rem;
    }
    @include mixin.larger {
        width: 102rem;
        height: 50rem;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-around;
        margin: 17rem;

        .sec3-right {
            .sec3-img {
                @include mixin.larger {
                    margin-top: -20rem;
                }
                img {
                    @include mixin.large {
                        width: 25rem;
                    }
                    @include mixin.larger {
                        width: 42.8rem;
                        height: 42.8rem;
                        &:nth-of-type(1) {
                            margin-bottom: -42rem;
                            z-index: 2;
                            animation-delay: 1000ms;
                            position: relative;
                        }
                        &:nth-of-type(2) {
                            margin-bottom: -42rem;
                            z-index: 1;
                            animation-delay: 2000ms;
                            position: relative;
                        }
                        &:nth-of-type(3) {
                            margin-bottom: -42rem;
                            z-index: 0;
                            animation-delay: 3000ms;
                            position: relative;
                        }
                    }
                }
            }
        }
        .sec3-left {
            @include mixin.large {
                width: 60rem;
            }
            @include mixin.larger {
                width: 350rem;
                padding: 2rem;
            }
            p {
                @include mixin.larger {
                    padding-right: 10rem;
                }
            }
            h2 {
                @include mixin.larger {
                    font-size: 4.5rem;
                    line-height: 4.5rem;
                    padding-right: 2rem;
                }
            }
        }
    }
}
