// SCSS - key_frames.scss
// All the animations are floating with same speed, same amount of space and same angle.

@use '../root/root' as root;
@use '../root/root_functions' as func;
@use '../root/root_mixins' as mixin;

.floatIt {
    animation-name: floatIt;
    animation-iteration-count: infinite;
    animation-duration: 4000ms;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes floatIt {
    0% {
        translate: 0 0;
    }

    50% {
        translate: 5% 5%;
    }

    100% {
        translate: 0 0;
    }
}
