// SCSS - footer.scss
//TODO: footer element here! <big-boss>
// * handle it as a section <footer></footer>
@use "../atomic/root/_root.scss" as root;
@use "../atomic/root/root_functions" as func;
@use "../atomic/root/root_mixins" as mixin;

footer {
  // !never delete this position
  height: 200rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: root.$eighth_background_color;
}
