// SCSS - footer-wrapper.scss
// !wrapper <div class="wrapper-name"></div>
@use '../atomic/root/root' as root;
@use '../atomic/root/root_functions' as func;
@use '../atomic/root/root_mixins' as mixin;
.footer-wrapper {
    flex-basis: root.$wrappersMaxWidth;
    padding: root.$footer-wrapperPadding;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    &-head {
    }

    &-specs {
        padding: func.toRem(20px) 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
    }

    &-anchors {
        display: flex;
        gap: 3rem;
        flex-direction: column;
    }

    &-icons {
        display: flex;
    }
}
//
.footer-wrapper-head {
    &-img {
        width: func.toRem(200px);
        height: func.toRem(100px);
    }
}

.footer-wrapper-head-img {
    &__logo {
        object-fit: cover;
    }
}
//
.footer-wrapper-specs {
    &-b1 {
        display: flex;
        justify-content: space-between;
    }

    &-b2 {
        display: flex;
        gap: 2rem;
    }
}

.footer-wrapper-specs-b1 {
    &-price {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    &-button {
    }
}

.footer-wrapper-specs-b1-price {
    &__img {
        width: func.toRem(30px);
        height: func.toRem(30px);
    }

    &__num {
    }
}

.footer-wrapper-specs-b1-button {
    &__button {
        padding: root.$footer-wrapper-specs-b1-button__buttonPadding;
    }
}

.footer-wrapper-specs-b2 {
    &-switch {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: root.$icons_color;
        width: func.toRem(60px);
        height: func.toRem(30px);
        display: flex;
        gap: 0.5rem;
        align-items: center;
        border-radius: func.toRem(20px);
    }

    &-lg {
        display: flex;
        gap: 0.5rem;
    }
}

.footer-wrapper-specs-b2-switch {
    &__tgl {
    }
}

.footer-wrapper-specs-b2-lg {
    &__glb {
        width: func.toRem(30px);
        height: func.toRem(30px);
    }
}
//
.footer-wrapper-anchors {
    &__about {
    }

    &__help {
    }

    &__developers {
    }
}

.footer-wrapper-icons {
    &-container {
    }
}
