// SCSS - root.scss
// ? what is this file?
// * you can find all the variables here
// * This is not all the variables, we will add more along the way.
@use './root_functions' as func;
@use './root_mixins' as mixin;
/*
              ..######...##........#######..########.....###....##......
              .##....##..##.......##.....##.##.....##...##.##...##......
              .##........##.......##.....##.##.....##..##...##..##......
              .##...####.##.......##.....##.########..##.....##.##......
              .##....##..##.......##.....##.##.....##.#########.##......
              .##....##..##.......##.....##.##.....##.##.....##.##......
              ..######...########..#######..########..##.....##.########
*/

// * Global Vars
$font_family: 'Kanit';
$font_size: 16px;
$font_size_reset: 62.5%;
$parentSectionPos: relative;
$parentSectionWidth: 100%;
$wrappersMaxWidth: func.toRem(1152px);
$parentSpecs: 100%;

/* 
            ..######...#######..##........#######..########...######.
            .##....##.##.....##.##.......##.....##.##.....##.##....##
            .##.......##.....##.##.......##.....##.##.....##.##......
            .##.......##.....##.##.......##.....##.########...######.
            .##.......##.....##.##.......##.....##.##...##.........##
            .##....##.##.....##.##.......##.....##.##....##..##....##
            ..######...#######..########..#######..##.....##..######.
*/

// * Global Colors
$primary_white_color: #ffffff;
$primary_black_color: #000000;
$primary_red_color: #ff0000;
$primary_green_color: #00ff00;
$primary_blue_color: #0000ff;

// * Titles && descriptions:
$primary_title_color: #7d43d7;
$secondary_title_color: #2b0c5e;

$primary_description_color: #897db2;
$secondary_description_color: #ff3a97;
$tertiary_description_color: #ffb12e;
$quaternary_description_color: #00cad7;

// * buttons colors and background-color
$primary_button_color: #ffffff;
$primary_buttons_bg_color: #00cad7;
$primary_buttons_bg_hover_color: #58dbe3;

// * links colors and background-color
$primary_link_color: #7c6ea9;
$secondary_link_color: #00cad7;
$tertiary_link_color: #f5eeff;
$quaternary_link_color: #ffb12e;

$primary_link_decoration_hover_color: #00cad7;
$secondary_link_decoration_hover_color: #f5eeff;

$primary_link_bg_hover_color: #eef4f5;

// * website background colors
$first_background_color: #e2fcff;
$second_background_color: #dccdec;
$third_background_color: #faf9fa;
$fourth_background_color: #edeff4;
$fifth_background_color: #58bdf2;
$fifth_background_color_inner: #c5e8fa;
$sixth_background_color: #faf9fa;
$seventh_background_color: #7009c5;
$eighth_background_color: #27262c;

// * sidebar color and icons of navbar and footer
$icons_color: #7c6ea9;
$icons_hover_color: #aaa1c7;

$side_bar_color: #7c6ea9;
$colors_textSubtle: #7a6eaa;
$colors_secondary: #7645d9;
$text_color: #280d5f;

/*
              ....###....########..#######..##.....##.####..######.
              ...##.##......##....##.....##.###...###..##..##....##
              ..##...##.....##....##.....##.####.####..##..##......
              .##.....##....##....##.....##.##.###.##..##..##......
              .#########....##....##.....##.##.....##..##..##......
              .##.....##....##....##.....##.##.....##..##..##....##
              .##.....##....##.....#######..##.....##.####..######.
*/

// * links specs
$linkLineHeight: func.toRem(24px);
$linkFontWeight: 600;
$linkUnderLine: underline;
// * buttons specs
$btnBoxShadow: #0e0e2c 0px -1px 0px 0px;
$btnFontWeight: 600;
$btnLetterSpacing: func.toRem(0.48px);
$btnLineHeight: func.toRem(16px);
$btnPadding: func.toRem(24px);
$btnTextAlign: center;
$btnBorderRadius: func.toRem(25px);

/*
      .##.....##.########....###....########..########.########.
      .##.....##.##.........##.##...##.....##.##.......##.....##
      .##.....##.##........##...##..##.....##.##.......##.....##
      .#########.######...##.....##.##.....##.######...########.
      .##.....##.##.......#########.##.....##.##.......##...##..
      .##.....##.##.......##.....##.##.....##.##.......##....##.
      .##.....##.########.##.....##.########..########.##.....##
*/

// * header/nav vars

//

/*
            .####.##....##.########.########...#######...........######..##.......####.########..########
            ..##..###...##....##....##.....##.##.....##.........##....##.##........##..##.....##.##......
            ..##..####..##....##....##.....##.##.....##.........##.......##........##..##.....##.##......
            ..##..##.##.##....##....########..##.....##..........######..##........##..##.....##.######..
            ..##..##..####....##....##...##...##.....##...............##.##........##..##.....##.##......
            ..##..##...###....##....##....##..##.....##.........##....##.##........##..##.....##.##......
            .####.##....##....##....##.....##..#######..#######..######..########.####.########..########
*/

// * intro_slide vars
$intro_slide-wrapperPadding: func.toRem(20px);
$intro_slide-wrapperMaxWidth: func.toRem(1152px);
$intro_slide-wrapperMaxHeight: func.toRem(232px);

$intro_slide-wrapper-containerPadding: func.toRem(20px);
$intro_slide-wrapper-containerMaxWidth: func.toRem(1112px);
$intro_slide-wrapper-containerMaxHeight: func.toRem(192px);
$intro_slide-wrapper-containerBorderRadius: func.toRem(15px); // ! test

/*
..######..########..######..########.####..#######..##....##.......##..
.##....##.##.......##....##....##.....##..##.....##.###...##.....####..
.##.......##.......##..........##.....##..##.....##.####..##.......##..
..######..######...##..........##.....##..##.....##.##.##.##.......##..
.......##.##.......##..........##.....##..##.....##.##..####.......##..
.##....##.##.......##....##....##.....##..##.....##.##...###.......##..
..######..########..######.....##....####..#######..##....##.....######
*/

// * write vars here

//

/*
..######..########..######..########.####..#######..##....##.....#######.
.##....##.##.......##....##....##.....##..##.....##.###...##....##.....##
.##.......##.......##..........##.....##..##.....##.####..##...........##
..######..######...##..........##.....##..##.....##.##.##.##.....#######.
.......##.##.......##..........##.....##..##.....##.##..####....##.......
.##....##.##.......##....##....##.....##..##.....##.##...###....##.......
..######..########..######.....##....####..#######..##....##....#########
*/

// * write vars here

//

/*
..######..########..######..########.####..#######..##....##.....#######.
.##....##.##.......##....##....##.....##..##.....##.###...##....##.....##
.##.......##.......##..........##.....##..##.....##.####..##...........##
..######..######...##..........##.....##..##.....##.##.##.##.....#######.
.......##.##.......##..........##.....##..##.....##.##..####...........##
.##....##.##.......##....##....##.....##..##.....##.##...###....##.....##
..######..########..######.....##....####..#######..##....##.....#######.
*/

// * write vars here

//

/*
..######..########..######..########.####..#######..##....##....##.......
.##....##.##.......##....##....##.....##..##.....##.###...##....##....##.
.##.......##.......##..........##.....##..##.....##.####..##....##....##.
..######..######...##..........##.....##..##.....##.##.##.##....##....##.
.......##.##.......##..........##.....##..##.....##.##..####....#########
.##....##.##.......##....##....##.....##..##.....##.##...###..........##.
..######..########..######.....##....####..#######..##....##..........##.
*/

// * write vars here

//

/*
..######..########..######..########.####..#######..##....##....########
.##....##.##.......##....##....##.....##..##.....##.###...##....##......
.##.......##.......##..........##.....##..##.....##.####..##....##......
..######..######...##..........##.....##..##.....##.##.##.##....#######.
.......##.##.......##..........##.....##..##.....##.##..####..........##
.##....##.##.......##....##....##.....##..##.....##.##...###....##....##
..######..########..######.....##....####..#######..##....##.....######.
*/

// * write vars here

//

/*
..######..########..######..########.####..#######..##....##.....#######.
.##....##.##.......##....##....##.....##..##.....##.###...##....##.....##
.##.......##.......##..........##.....##..##.....##.####..##....##.......
..######..######...##..........##.....##..##.....##.##.##.##....########.
.......##.##.......##..........##.....##..##.....##.##..####....##.....##
.##....##.##.......##....##....##.....##..##.....##.##...###....##.....##
..######..########..######.....##....####..#######..##....##.....#######.
*/

// * write vars here

//

/*
..######..########..######..########.####..#######..##....##....########
.##....##.##.......##....##....##.....##..##.....##.###...##....##....##
.##.......##.......##..........##.....##..##.....##.####..##........##..
..######..######...##..........##.....##..##.....##.##.##.##.......##...
.......##.##.......##..........##.....##..##.....##.##..####......##....
.##....##.##.......##....##....##.....##..##.....##.##...###......##....
..######..########..######.....##....####..#######..##....##......##....
*/

// * write vars here
$section7-wrapperBackgroundLight: rgb(132, 44, 214, 0.5);
$section7-wrapperBackgroundCombo: conic-gradient(
  $section7-wrapperBackgroundLight,
  transparent,
  $section7-wrapperBackgroundLight,
  transparent,
  $section7-wrapperBackgroundLight,
  transparent,
  $section7-wrapperBackgroundLight,
  transparent,
  $section7-wrapperBackgroundLight,
  transparent,
  $section7-wrapperBackgroundLight,
  transparent,
  $section7-wrapperBackgroundLight,
  transparent,
  $section7-wrapperBackgroundLight,
  transparent,
  $section7-wrapperBackgroundLight,
  transparent,
  $section7-wrapperBackgroundLight,
  transparent,
  $section7-wrapperBackgroundLight,
  transparent,
  $section7-wrapperBackgroundLight,
  transparent,
  $section7-wrapperBackgroundLight,
  transparent,
  $section7-wrapperBackgroundLight,
  transparent,
  $section7-wrapperBackgroundLight,
  transparent,
  $section7-wrapperBackgroundLight,
  transparent,
  $section7-wrapperBackgroundLight,
  transparent,
  $section7-wrapperBackgroundLight,
  transparent,
  $section7-wrapperBackgroundLight,
  transparent,
  $section7-wrapperBackgroundLight,
  transparent,
  $section7-wrapperBackgroundLight,
  transparent,
  $section7-wrapperBackgroundLight,
  transparent,
  $section7-wrapperBackgroundLight
);
$section7Height: func.toRem(500px);

//

/*
.########..#######...#######..########.########.########.
.##.......##.....##.##.....##....##....##.......##.....##
.##.......##.....##.##.....##....##....##.......##.....##
.######...##.....##.##.....##....##....######...########.
.##.......##.....##.##.....##....##....##.......##...##..
.##.......##.....##.##.....##....##....##.......##....##.
.##........#######...#######.....##....########.##.....##
*/

$footer-wrapper-specs-b1-button__buttonPadding: func.toRem(10px)
  func.toRem(20px);
$footer-wrapperPadding: func.toRem(20px);
