// Don't import root.scss here

@mixin reset() {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*
.########.##.......########.##.....##.########...#######..##.....##
.##.......##.......##........##...##..##.....##.##.....##..##...##.
.##.......##.......##.........##.##...##.....##.##.....##...##.##..
.######...##.......######......###....########..##.....##....###...
.##.......##.......##.........##.##...##.....##.##.....##...##.##..
.##.......##.......##........##...##..##.....##.##.....##..##...##.
.##.......########.########.##.....##.########...#######..##.....##
*/

// ! might upgrade later
@mixin flexIt() {
  display: flex;
}

@mixin centerFlex() {
  justify-content: center;
  align-items: center;
}

@mixin centerFlexItems() {
  align-items: center;
}

@mixin centerFlexContent() {
  justify-content: center;
}
