// SCSS - root.scss
// ? what is this file?
// * you can find all the variables here
// * This is not all the variables, we will add more along the way.
@use './root_functions' as func;
@use './root_mixins' as mixin;
/*
              ..######...##........#######..########.....###....##......
              .##....##..##.......##.....##.##.....##...##.##...##......
              .##........##.......##.....##.##.....##..##...##..##......
              .##...####.##.......##.....##.########..##.....##.##......
              .##....##..##.......##.....##.##.....##.#########.##......
              .##....##..##.......##.....##.##.....##.##.....##.##......
              ..######...########..#######..########..##.....##.########
*/

// * Global Vars
$font_family: 'Kanit';
$font_size: 16px;
$font_size_reset: 62.5%;
$parentSectionPos: relative;
$parentSectionWidth: 100%;
$wrappersMaxWidth: 175.2rem;
$parentSpecs: 100%;

/* 
            ..######...#######..##........#######..########...######.
            .##....##.##.....##.##.......##.....##.##.....##.##....##
            .##.......##.....##.##.......##.....##.##.....##.##......
            .##.......##.....##.##.......##.....##.########...######.
            .##.......##.....##.##.......##.....##.##...##.........##
            .##....##.##.....##.##.......##.....##.##....##..##....##
            ..######...#######..########..#######..##.....##..######.
*/

[data-theme='light'] {
    --fullScreenPop: black;
    --swap-full-logo-color: black;
    --swap-button-link-bg: rgb(238, 233, 244);
    --swap-buttons-bg-color: rgb(166, 150, 195);
    --cards-bg-color: white;
    --primary-main-bg-color: linear-gradient(#e2fcfe, white);
    --primary-navbar-bg-color: white;
    --primary-navbar-link-hover: #eff4f5;
    --primary-white: white;
    --primary-red: red;
    --primary-black: black;
    --primary-green: green;
    --primary-blue: blue;
    --primary-title-color: #7645d9;
    --secondary-title-color: #280d5f;
    --primary-description-color: #897db2;
    --secondary-description-color: #ff3a97;
    --tertiary-description-color: #ffb12e;
    --quaternary-description-color: #00cad7;
    --primary-button-color: white;
    --primary-button-bg-color: #00cad7;
    --primary-buttons-bg-hover-color: #58dbe3;
    --primary-link-color: #7c6ea9;
    --secondary-link-color: #00cad7;
    --tertiary-link-color: #f5eeff;
    --quaternary-link-color: #ffb12e;
    --primary-link-decoration-hover-color: #00cad7;
    --secondary-link-decoration-hover-color: #f5eeff;
    --primary-link-bg-hover-color: #eef4f5;
    --first-background-color: #e2fcff;
    --second-background-color: #d8cbec;
    --second-background-color-linear: white;
    --third-background-color: #faf9fa;
    --fourth-background-color: #edeff4;
    --fifth-background-color: #58bdf2;
    --fifth-background-color-inner: rgba(197, 232, 250, 0.5);
    --sixth-background-color: #faf9fa;
    --seventh-background-color: #7009c5;
    --eighth-background-color: #27262c;
    --icons-color: #7c6ea9;
    --icons-hover-color: #aaa1c7;
    --side-bar-bg-color: #eff2fe;
    --colors-textSubtle: #7a6eaa;
}

[data-theme='dark'] {
    --fullScreenPop: white;
    --swap-full-logo-color: white;
    --swap-button-link-bg: rgb(56, 45, 71);
    --swap-buttons-bg-color: rgb(140, 126, 161);
    --cards-bg-color: #27262c;
    --primary-main-bg-color: linear-gradient(#1f1733, black);
    --primary-navbar-bg-color: #27262c;
    --primary-navbar-link-hover: #373447;
    --primary-white: white;
    --primary-red: red;
    --primary-black: black;
    --primary-green: green;
    --primary-blue: blue;
    --primary-title-color: #a168fd;
    --secondary-title-color: #f5eeff;
    --primary-description-color: #baadd1;
    --secondary-description-color: #ff3a97;
    --tertiary-description-color: #ffb12e;
    --quaternary-description-color: #00cad7;
    --primary-button-color: white;
    --primary-button-bg-color: #00cad7;
    --primary-buttons-bg-hover-color: #58dbe3;
    --primary-link-color: #7c6ea9;
    --secondary-link-color: #00cad7;
    --tertiary-link-color: #f5eeff;
    --quaternary-link-color: #ffb12e;
    --primary-link-decoration-hover-color: #00cad7;
    --secondary-link-decoration-hover-color: #f5eeff;
    --primary-link-bg-hover-color: #eef4f5;
    --first-background-color: #1f1733;
    --second-background-color: #20132f;
    --second-background-color-linear: black;
    --third-background-color: #08060b;
    --fourth-background-color: #3a3b4f;
    --fifth-background-color: #00375a;
    --fifth-background-color-inner: rgba(0, 0, 0, 0.2);
    --sixth-background-color: #08060b;
    --seventh-background-color: #7009c5;
    --eighth-background-color: #27262c;
    --icons-color: #7c6ea9;
    --icons-hover-color: #aaa1c7;
    --side-bar-bg-color: #1d142a;
    --colors-textSubtle: #7a6eaa;
}

// * Global Colors
$primary_main_bg_color: var(--primary-main-bg-color);
$primary_white_color: var(--primary-white);
$primary_black_color: var(--primary-black);
$primary_red_color: var(--primary-red);
$primary_green_color: var(--primary-green);
$primary_blue_color: var(--primary-blue);
$primary_navbar_bg_color: var(--primary-navbar-bg-color);
$fullScreenPop: var(--fullScreenPop);
$swap_full_logo_color: var(--swap-full-logo-color);

// * Titles && descriptions:
$primary_title_color: var(--primary-title-color);
$secondary_title_color: var(--secondary-title-color);

$primary_description_color: var(--primary-description-color);
$secondary_description_color: var(--secondary-description-color);
$tertiary_description_color: var(--tertiary-description-color);
$quaternary_description_color: var(--quaternary-description-color);

// * buttons colors and background-color
$primary_button_color: var(--primary-button-color);
$primary_buttons_bg_color: var(--primary-button-bg-color); //#00cad7
$primary_buttons_bg_hover_color: var(
    --primary-buttons-bg-hover-color
); //#58dbe3
$primary_navbar_link_hover: var(--primary-navbar-link-hover);
$cards_bg_color: var(--cards-bg-color);
$swap_buttons_bg_color: var(--swap-buttons-bg-color);
$swap_button_link_bg: var(--swap-button-link-bg);

// * links colors and background-color
$primary_link_color: var(--primary-link-color); //#7c6ea9
$secondary_link_color: var(--secondary-link-color); //#00cad7
$tertiary_link_color: var(--tertiary-link-color); //#f5eeff
$quaternary_link_color: var(--quaternary-link-color); //#ffb12e

$primary_link_decoration_hover_color: var(
    --primary-link-decoration-hover-color
); //#00cad7
$secondary_link_decoration_hover_color: var(
    --secondary-link-decoration-hover-color
); //#f5eeff

$primary_link_bg_hover_color: var(--primary-link-bg-hover-color); //#eef4f5

// * website background colors
$first_background_color: var(--first-background-color); //#e2fcff
$second_background_color: var(--second-background-color); //#dccdec
$second_background_color_linear: var(
    --second-background-color-linear
); //#dccdec
$third_background_color: var(--third-background-color); //#faf9fa
$fourth_background_color: var(--fourth-background-color); //#edeff4
$fifth_background_color: var(--fifth-background-color); //#58bdf2
$fifth_background_color_inner: var(--fifth-background-color-inner); //#c5e8fa
$sixth_background_color: var(--sixth-background-color); //#faf9fa
$seventh_background_color: var(--seventh-background-color); //#7009c5
$eighth_background_color: var(--eighth-background-color); //#27262c

// * sidebar color and icons of navbar and footer
$icons_color: var(--icons-color); //#7c6ea9
$icons_hover_color: var(--icons-hover-color); //#aaa1c7

$side_bar_color: var(--side-bar-bg-color); //#7c6ea9
$colors_textSubtle: var(--colors-textSubtle); //#7a6eaa

/*
              ....###....########..#######..##.....##.####..######.
              ...##.##......##....##.....##.###...###..##..##....##
              ..##...##.....##....##.....##.####.####..##..##......
              .##.....##....##....##.....##.##.###.##..##..##......
              .#########....##....##.....##.##.....##..##..##......
              .##.....##....##....##.....##.##.....##..##..##....##
              .##.....##....##.....#######..##.....##.####..######.
*/

// * links specs
$linkLineHeight: 2.4rem;
$linkFontWeight: 600;
$linkUnderLine: underline;
// * buttons specs
$btnBoxShadow: #0e0e2c 0px -1px 0px 0px;
$btnFontWeight: 600;
$btnLetterSpacing: 0.48px;
$btnLineHeight: 16px;
$btnPadding: 1.5rem 3rem;
$btnTextAlign: center;
$btnBorderRadius: 15px;
// * cards specs
$cardMaxWidth: 453px;
$cardBorderRadius: 30px;

/*
      .##.....##.########....###....########..########.########.
      .##.....##.##.........##.##...##.....##.##.......##.....##
      .##.....##.##........##...##..##.....##.##.......##.....##
      .#########.######...##.....##.##.....##.######...########.
      .##.....##.##.......#########.##.....##.##.......##...##..
      .##.....##.##.......##.....##.##.....##.##.......##....##.
      .##.....##.########.##.....##.########..########.##.....##
*/

// * header/nav vars

//

/*
            .####.##....##.########.########...#######...........######..##.......####.########..########
            ..##..###...##....##....##.....##.##.....##.........##....##.##........##..##.....##.##......
            ..##..####..##....##....##.....##.##.....##.........##.......##........##..##.....##.##......
            ..##..##.##.##....##....########..##.....##..........######..##........##..##.....##.######..
            ..##..##..####....##....##...##...##.....##...............##.##........##..##.....##.##......
            ..##..##...###....##....##....##..##.....##.........##....##.##........##..##.....##.##......
            .####.##....##....##....##.....##..#######..#######..######..########.####.########..########
*/

// * intro_slide vars
$intro_slide-wrapperPadding: 2rem;
$intro_slide-wrapperMaxWidth: 115.2rem;
$intro_slide-wrapperHeight: 30rem;

$intro_slide-wrapper-containerMaxWidth: 111.2rem;
$intro_slide-wrapper-containerBorderRadius: 3rem; // ! test
$intro_slide-wrapper-containerBackgroundColor: #6523a7;

/*
..######..########..######..########.####..#######..##....##.......##..
.##....##.##.......##....##....##.....##..##.....##.###...##.....####..
.##.......##.......##..........##.....##..##.....##.####..##.......##..
..######..######...##..........##.....##..##.....##.##.##.##.......##..
.......##.##.......##..........##.....##..##.....##.##..####.......##..
.##....##.##.......##....##....##.....##..##.....##.##...###.......##..
..######..########..######.....##....####..#######..##....##.....######
*/

// * write vars here

//

/*
..######..########..######..########.####..#######..##....##.....#######.
.##....##.##.......##....##....##.....##..##.....##.###...##....##.....##
.##.......##.......##..........##.....##..##.....##.####..##...........##
..######..######...##..........##.....##..##.....##.##.##.##.....#######.
.......##.##.......##..........##.....##..##.....##.##..####....##.......
.##....##.##.......##....##....##.....##..##.....##.##...###....##.......
..######..########..######.....##....####..#######..##....##....#########
*/

// * write vars here

//

/*
..######..########..######..########.####..#######..##....##.....#######.
.##....##.##.......##....##....##.....##..##.....##.###...##....##.....##
.##.......##.......##..........##.....##..##.....##.####..##...........##
..######..######...##..........##.....##..##.....##.##.##.##.....#######.
.......##.##.......##..........##.....##..##.....##.##..####...........##
.##....##.##.......##....##....##.....##..##.....##.##...###....##.....##
..######..########..######.....##....####..#######..##....##.....#######.
*/

// * write vars here

//

/*
..######..########..######..########.####..#######..##....##....##.......
.##....##.##.......##....##....##.....##..##.....##.###...##....##....##.
.##.......##.......##..........##.....##..##.....##.####..##....##....##.
..######..######...##..........##.....##..##.....##.##.##.##....##....##.
.......##.##.......##..........##.....##..##.....##.##..####....#########
.##....##.##.......##....##....##.....##..##.....##.##...###..........##.
..######..########..######.....##....####..#######..##....##..........##.
*/

// * write vars here
$section4-wrapperMaxwidth: $wrappersMaxWidth;

//

/*
..######..########..######..########.####..#######..##....##....########
.##....##.##.......##....##....##.....##..##.....##.###...##....##......
.##.......##.......##..........##.....##..##.....##.####..##....##......
..######..######...##..........##.....##..##.....##.##.##.##....#######.
.......##.##.......##..........##.....##..##.....##.##..####..........##
.##....##.##.......##....##....##.....##..##.....##.##...###....##....##
..######..########..######.....##....####..#######..##....##.....######.
*/

// * write vars here
$section5-wrapperMaxWidth: 100rem;
$section5-wrapperBorderRadius: 10rem;

//

/*
..######..########..######..########.####..#######..##....##.....#######.
.##....##.##.......##....##....##.....##..##.....##.###...##....##.....##
.##.......##.......##..........##.....##..##.....##.####..##....##.......
..######..######...##..........##.....##..##.....##.##.##.##....########.
.......##.##.......##..........##.....##..##.....##.##..####....##.....##
.##....##.##.......##....##....##.....##..##.....##.##...###....##.....##
..######..########..######.....##....####..#######..##....##.....#######.
*/

// * write vars here

//

/*
..######..########..######..########.####..#######..##....##....########
.##....##.##.......##....##....##.....##..##.....##.###...##....##....##
.##.......##.......##..........##.....##..##.....##.####..##........##..
..######..######...##..........##.....##..##.....##.##.##.##.......##...
.......##.##.......##..........##.....##..##.....##.##..####......##....
.##....##.##.......##....##....##.....##..##.....##.##...###......##....
..######..########..######.....##....####..#######..##....##......##....
*/

// * write vars here
$section7-wrapperBackgroundLight: rgb(132, 44, 214, 0.5);
$section7-wrapperBackgroundCombo: conic-gradient(
    $section7-wrapperBackgroundLight,
    transparent,
    $section7-wrapperBackgroundLight,
    transparent,
    $section7-wrapperBackgroundLight,
    transparent,
    $section7-wrapperBackgroundLight,
    transparent,
    $section7-wrapperBackgroundLight,
    transparent,
    $section7-wrapperBackgroundLight,
    transparent,
    $section7-wrapperBackgroundLight,
    transparent,
    $section7-wrapperBackgroundLight,
    transparent,
    $section7-wrapperBackgroundLight,
    transparent,
    $section7-wrapperBackgroundLight,
    transparent,
    $section7-wrapperBackgroundLight,
    transparent,
    $section7-wrapperBackgroundLight,
    transparent,
    $section7-wrapperBackgroundLight,
    transparent,
    $section7-wrapperBackgroundLight,
    transparent,
    $section7-wrapperBackgroundLight,
    transparent,
    $section7-wrapperBackgroundLight,
    transparent,
    $section7-wrapperBackgroundLight,
    transparent,
    $section7-wrapperBackgroundLight,
    transparent,
    $section7-wrapperBackgroundLight,
    transparent,
    $section7-wrapperBackgroundLight,
    transparent,
    $section7-wrapperBackgroundLight,
    transparent,
    $section7-wrapperBackgroundLight,
    transparent,
    $section7-wrapperBackgroundLight
);
$section7Height: 50rem;

//

/*
.########..#######...#######..########.########.########.
.##.......##.....##.##.....##....##....##.......##.....##
.##.......##.....##.##.....##....##....##.......##.....##
.######...##.....##.##.....##....##....######...########.
.##.......##.....##.##.....##....##....##.......##...##..
.##.......##.....##.##.....##....##....##.......##....##.
.##........#######...#######.....##....########.##.....##
*/

$footer-wrapperPadding: 2rem;
$footer-wrapper-specs-b1-button__buttonPadding: 1rem 2rem;
