@use '../../atomic/root/root' as root;
@use '../../atomic/root/root_functions' as func;
@use '../../atomic/root/root_mixins' as mixin;

@media only screen and(min-width: 725px) {
    .swap-wrapper2 {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
}
