@use '../../atomic/root/root' as root;
@use '../../atomic/root/root_functions' as func;
@use '../../atomic/root/root_mixins' as mixin;

.swap-section2 {
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
}
