// SCSS - section7.scss
// * handle it as a section <section class="section-name"></section>
@use '../atomic/root/root' as root;
@use '../atomic/root/root_functions' as func;
@use '../atomic/root/root_mixins' as mixin;
.section7 {
    // !never delete this position
    width: root.$parentSectionWidth;
    height: root.$section7Height;
    position: relative;
    @include mixin.flexItCenter();
    background-color: root.$seventh_background_color;
    overflow: hidden;
    .peanut {
        position: absolute;
        width: 30rem;
        height: 30rem;
        z-index: 2;
    }

    // ? peanuts left
    .peanut1-left {
        animation-delay: 1000ms;
        left: 0;
    }

    .peanut2-left {
        animation-delay: 2000ms;
        left: 0;
    }

    .peanut3-left {
        animation-delay: 3000ms;
        left: 0;
    }

    // ? peanuts right
    .peanut1-right {
        animation-delay: 1000ms;
        right: 0;
    }

    .peanut2-right {
        animation-delay: 2000ms;
        right: 0;
    }

    .peanut3-right {
        animation-delay: 3000ms;
        right: 0;
    }
}
