// SCSS - section5.scss
// * handle it as a section <section class="section-name"></section>
@use '../atomic/root/root' as root;
@use '../atomic/root/root_functions' as func;
@use '../atomic/root/root_mixins' as mixin;
.section5 {
    // !never delete this position
    padding: 4rem;
    height: fit-content;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: root.$fifth_background_color;
}
